<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= stylesheet_link_tag "wake/default.css" %>
</head>
<body>
	<div class="island">
		<div class="note">This is menu in Dummy layout.</div>		
		<h3>Wake convention-over-configuration Rails extension - Dummy App</h3>
		<%= link_to 'Standard (ThingsController)', things_path %>
		&nbsp;&nbsp;
		<%= link_to 'AJAX (PiecesController)', things_path %>
	</div>

	<div class="island">
		<div class="note">This is /wake/flash.html.erb</div>
		<%= render :partial=>'/wake/flash', :object=>flash %>
	</div>
	
		
	<div id="InnerWrapper">
		<%= yield %>
	</div>

</body>
</html>
